@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 250 60% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 250 60% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262 83% 58%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 250 50% 96%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 250 50% 96%;
    --accent-foreground: 220 8.9% 46.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262 83% 58%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 255 10% 10%;
    --foreground: 210 20% 98%;
    --card: 260 10% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 260 10% 15%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 83% 68%;
    --primary-foreground: 210 20% 98%;
    --secondary: 255 10% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 260 10% 20%;
    --muted-foreground: 215 13.8% 46.9%;
    --accent: 260 10% 20%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 255 10% 20%;
    --input: 255 10% 20%;
    --ring: 262 83% 68%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

/* Styles for react-phone-number-input */
.PhoneInputInput {
  @apply flex h-10 w-full rounded-md border-0 bg-transparent px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-ring focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;
  border: none !important;
  box-shadow: none !important;
}

.PhoneInputCountry {
  @apply bg-transparent text-foreground;
}

.PhoneInputCountrySelect {
  @apply bg-background text-foreground border border-input rounded-md mr-2;
}

.PhoneInputCountryIcon {
   box-shadow: none !important;
}
